[package]
name = "kas-core"
version = "0.10.1"
authors = ["Diggory Hardy <git@dhardy.name>"]
edition = "2021"
license = "Apache-2.0"
description = "KAS GUI / core"
readme = "README.md"
documentation = "https://docs.rs/kas-core/"
keywords = ["gui"]
categories = ["gui"]
repository = "https://github.com/kas-gui/kas"
exclude = ["/screenshots"]

[package.metadata.docs.rs]
features = ["nightly", "stack_dst", "winit", "markdown", "yaml", "json", "ron"]
rustdoc-args = ["--cfg", "doc_cfg"]
# To build locally:
# RUSTDOCFLAGS="--cfg doc_cfg" cargo +nightly doc --features=internal_doc,markdown,yaml,json,ron,stack_dst --no-deps --open

[features]
# Use Generic Associated Types (this is too unstable to include in nightly!)
gat = ["kas-text/gat"]

# Use full specialization
spec = []

# Enables documentation of APIs for shells and internal usage.
# This API is not intended for use by end-user applications and
# thus is omitted from built documentation by default.
# This flag does not change the API, only built documentation.
internal_doc = []

# Enable Markdown parsing
markdown = ["kas-text/markdown"]

# Enable text shaping
shaping = ["kas-text/shaping"]
# Alternative: use Harfbuzz library for shaping
harfbuzz = ["kas-text/harfbuzz"]

# Enable config read/write
#TODO(cargo): once weak-dep-features (cargo#8832) is stable, add "winit?/serde"
# and remove the serde feature requirement under dependencies.winit.
config = ["serde", "kas-text/serde"]

# Enable support for YAML (de)serialisation
yaml = ["config", "serde_yaml"]

# Enable support for JSON (de)serialisation
json = ["config", "serde_json"]

# Enable support for RON (de)serialisation
ron = ["config", "dep_ron"]

# Inject logging into macro-generated code.
# Requires that all crates using these macros depend on the log crate.
macros_log = ["kas-macros/log"]

[dependencies]
easy-cast = "0.4.2"
lazy_static = "1.4"
log = "0.4"
smallvec = "1.6.1"
stack_dst = { version = "0.6", optional = true }
bitflags = "1.3.1" # only used without winit
unicode-segmentation = "1.7"
linear-map = "1.2.0"
thiserror = "1.0.23"
serde = { version = "1.0.123", features = ["derive"], optional = true }
serde_json = { version = "1.0.61", optional = true }
serde_yaml = { version = "0.8.16", optional = true }
dep_ron = { version = "0.6.4", package = "ron", optional = true }
image = "0.23.14"

[dependencies.kas-macros]
version = "0.10.1"
path = "../kas-macros"

[dependencies.kas-text]
# version = "0.4.0"
git = "https://github.com/kas-gui/kas-text.git"
rev = "818515e"

[dependencies.winit]
# Provides translations for several winit types
version = "0.26"
optional = true
features = ["serde"]
