[package]
name = "kas"
version = "0.3.0"
authors = ["Diggory Hardy <git@dhardy.name>"]
edition = "2018"
license = "Apache-2.0"
description = "GUI Toolkit Abstraction System"
keywords = ["gui"]
categories = ["gui"]
repository = "https://github.com/kas-gui/kas"

[features]
# Enables usage of unstable Rust features
nightly = []

# Enables documentation of APIs for toolkits and internal use.
# This API is not intended for use by end-user applications and
# thus is omitted from built documentation by default.
# This flag does not change the API, only built documentation.
internal_doc = []

[dependencies]
conv = "0.3"
log = "0.4"
rusttype = "0.8"
smallvec = "1.4"
stack_dst = { version = "0.6", optional = true }
bitflags = "1" # only used without winit

[dependencies.kas-macros]
version = "0.3.0"
path = "kas-macros"

[dependencies.winit]
# Provides translations for several winit types
version = "0.22"
optional = true

[workspace]
members = ["kas-macros", "kas-theme", "kas-wgpu"]

[package.metadata.docs.rs]
features = ["nightly", "stack_dst", "winit"]
