[package]
name = "kas"
version = "0.2.0"
authors = ["Diggory Hardy <git@dhardy.name>"]
edition = "2018"
license = "Apache-2.0"
description = "GUI Toolkit Abstraction System"
keywords = ["gui"]
categories = ["gui"]
repository = "https://github.com/dhardy/kas"

[features]
# Enables usage of unstable Rust features
nightly = []

# Enables documentation of APIs for toolkits and internal use.
# This API is not intended for use by end-user applications and
# thus is omitted from built documentation by default.
# This flag does not change the API, only built documentation.
internal_doc = []

[dependencies]
log = "0.4"
smallvec = "1.1"
stack_dst = { version = "0.6", features = ["unsize"], optional = true }

[dependencies.kas-macros]
version = "0.2.0"
path = "kas-macros"

[dependencies.winit]
# Provides translations for several winit types
version = "0.21"
optional = true

[workspace]
members = ["kas-macros", "kas-theme", "kas-wgpu"]

[package.metadata.docs.rs]
features = ["nightly"]
