[package]
name = "kas-wgpu"
version = "0.10.1"
authors = ["Diggory Hardy <git@dhardy.name>"]
edition = "2021"
license = "Apache-2.0"
description = "KAS GUI / wgpu front-end"
keywords = ["gui", "wgpu"]
categories = ["gui"]
repository = "https://github.com/kas-gui/kas"
readme = "README.md"
documentation = "https://docs.rs/kas-wgpu/"

[features]
# WARNING: if "raster" is disabled, an alternative like "kas-text/fontdue" is required!
default = ["clipboard", "stack_dst", "shaping", "raster"]
nightly = ["unsize", "kas-theme/nightly"]

shaping = ["kas-text/shaping"]
harfbuzz = ["kas-text/harfbuzz"]
raster = ["kas-text/raster"]

# Use Generic Associated Types (this is too unstable to include in nightly!)
gat = ["kas-theme/gat"]

# Enables clipboard read/write
clipboard = ["window_clipboard"]

# Use stack_dst crate for sized unsized types
stack_dst = ["kas-theme/stack_dst"]

# Use kas-theme's unsize feature (nightly-only)
unsize = ["kas-theme/unsize"]

[dependencies]
bytemuck = "1.7.0"
futures = "0.3"
log = "0.4"
smallvec = "1.6.1"
wgpu = { version = "0.11.0", features = ["spirv"] }
raw-window-handle = "0.3.4"
winit = "0.26"
thiserror = "1.0.23"
window_clipboard = { version = "0.2.0", optional = true }
guillotiere = "0.6.0"
rustc-hash = "1.0"

[dependencies.kas]
# Rename package purely for convenience:
version = "0.10.0"
package = "kas-core"
path = "../kas-core"
features = ["config", "winit"]

[dependencies.kas-theme]
path = "../kas-theme"
features = ["config"]
version = "0.10.0"
default-features = false

[dependencies.kas-text]
version = "0.4.2"
#git = "https://github.com/kas-gui/kas-text.git"

[build-dependencies]
glob = "0.3"
